/* import reset */
@import "reset.css";

/* own styles */

/* m3 variables */
:root {
  --primary: #9c4144;
  --onPrimary: #ffffff;
  --primaryContainer: #ffd9d9;
  --onPrimaryContainer: #400007;

  --secondary: #835500;
  --onSecondary: #ffffff;
  --secondaryContainer: #ffddaf;
  --onSecondaryContainer: #2a1800;

  --error: #ba1b1b;
  --onError: #ffffff;
  --errorContainer: #ffdad4;
  --onErrorContainer: #410001;

  --background: #fcfcfc;
  --onBackground: #201a1a;
  --surface: #fcfcfc;
  --onSurface: #201a1a;
  --surfaceVariant: #f5dddc;
  --onSurfaceVariant: #534343;
  --outline: #857372;

  /* i need a success color, can't use primary because it's neither blue or green (i'll use it as warning / on hold) */
  --success: #83bd75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffb3b3;
    --onPrimary: #5f131a;
    --primaryContainer: #7e2a2f;
    --onPrimaryContainer: #ffd9d9;

    --secondary: #ffb94d;
    --onSecondary: #462b00;
    --secondaryContainer: #633f00;
    --onSecondaryContainer: #ffddaf;

    --error: #ffb4a9;
    --onError: #680003;
    --errorContainer: #930006;
    --onErrorContainer: #ffdad4;

    --background: #201a1a;
    --onBackground: #ede0df;
    --surface: #201a1a;
    --onSurface: #ede0df;
    --surfaceVariant: #534343;
    --onSurfaceVariant: #d8c2c1;
    --outline: #9f8c8b;

    /* look up */
    --success: #446a46;
  }
}

/* typography stuff */
.label-large {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

/* component stuff */
button {
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  /* TODO: CHANGE THIS CHANGE THIS CHANGE THIS CHANGE THIS */
  opacity: 0.6;
}

button[data-variant="filled"] {
  height: 40px;
  padding: 0 1.5rem;
  border-radius: 20px;
}

/* it's not actually a fab, but it has the styles, liv picked it :) */
button[data-variant="fab"] {
  height: 56px;
  border-radius: 1rem;
  padding: 1rem;
}

button[data-color="primary"] {
  background-color: var(--primary);
  color: var(--onPrimary);
}

button[data-color="secondary"] {
  background-color: var(--secondary);
  color: var(--onSecondary);
}

/* sticking to the defaults here */

body {
  margin: 0;
  background-color: var(--background);
  color: var(--onSurface);
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Satoshi", sans-serif;
}

body,
html,
#💜 {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom gradient */
.gradient {
  animation: gradient 5s linear infinite;
  background-image: linear-gradient(
    90deg,
    #9adcff,
    #ffb2a6,
    #ff8aae,
    #9adcff,
    #ffb2a6
  );
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
